.cardi {
  border-radius: 15px;

  padding: 10px;

  background: linear-gradient(to left, #e7b82c, #c94687);

  font-family: "roboto sans-serif";
  box-shadow: 0 4px 8px rgba(140, 140, 140, 0.5);
}
.cardi:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.01);
}
